{% extends "language.html" %}

{% block language-name %}C#{% endblock language-name %}

{% block history %}
<p><a href="https://learn.microsoft.com/fr-fr/dotnet/csharp/">C#</a> est un langage de programmation orientée objet, commercialisé par Microsoft depuis 2002 et destiné à développer sur la plateforme Microsoft .NET.</p>
{% endblock history %}

{% block uses %}
<p>C# (prononcez « Si Sharp ») est un langage de programmation moderne, orienté objet et de type sécurisé. C# permet aux développeurs de créer de nombreux types d'applications sécurisées et robustes qui s'exécutent dans . NET.2</p>
{% endblock uses %}